.no-focus-outline a:focus,
.no-focus-outline button:focus {
    outline: none;
}

@media only screen and (max-width: 725px) {
    .theme-toggle {
        transform: translateX(150%);
        top: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .theme-toggle {
        transform: translateX(100%);
        top: 55px;
    }
}
